body {
  background-color: #000000;
}

body.fade-out {
  animation: fadeHtmlBackground 1s forwards;
}

footer {
  background-color: #000000;
  padding: 10px;
  display: flex;
}

footer.fade-in {
  animation: fadeFooter 1s forwards;
}

@keyframes twinkling {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeHtmlBackground {
  from {
    background-color: #000000;
  }
  to {
    background-color: #D9A78B;
  }
}

@keyframes fadeFooter {
  from {
    background-color: #000000;
  }
  to {
    background-color: #6575A6;
  }
}

.star {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: #fff;
  animation: twinkling 2s infinite;
}

.navBar {
  z-index: 1;
  overflow: hidden;
  position: sticky;
  top: 0px;
  border-style: solid;
  border-color: #6575A6;
  border-width: 3px;
  border-top: none;
  background-color: #6575A6;
}

.navTitle {
  color:rgb(60, 90, 155);
  background-color:#b8b8b8;
}

.a {
  font-size: 50px;
  color:#D9A78B;
}

.b {
  font-size: 50px;
  color:#6575A6;
}

.c {
  font-size: 50px;
  color:#6387F2;
}

.d {
  font-size: 50px;
  color:#4BA4F2;
}

.e {
  font-size: 50px;
  color:#6BD9F2;
}

.f {
  font-size: 50px;
  color:#EEF0F2;
}
