body {
  background-color: #000000;
  transition: background-color 0.5s ease-in-out;
}

body.fade-out {
  animation: fadeBackground 1s forwards;
}

footer {
  opacity: 0;
  background-color: #6575A6;
  padding: 10px;
  display: flex;
}

footer.opacity {
  animation: opacityChange 1s forwards;
}

@keyframes twinkling {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeBackground {
  from {
    background-color: #000000;
  }
  to {
    background-color: #e6d28a;
  }
}

@keyframes opacityChange {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.star {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: #fff;
  animation: twinkling 2s infinite;
}

.navBar {
  opacity: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0px;
  padding: 20px;
  background-color: #6575A6;
}

.navBar.opacity {
  animation: opacityChange 1s forwards;
}

.navTitle {
  color:#6BD9F2;
}

.box {
  display: flex;
  flex-direction: column;
  background: url("files/cubes.png");
  height: fit-content;
  text-align: center;
  width: 100%;
  background-attachment: fixed;
  border-radius:25px;
  margin: 10%;
}

#home {
  opacity: 0;
}

#home.opacity {
  animation: opacityChange 1s forwards;
}

.a {
  font-size: 50px;
  color:#d9c28b;
}

.b {
  font-size: 50px;
  color:#6575A6;
}

.c {
  font-size: 50px;
  color:#6387F2;
}

.d {
  font-size: 50px;
  color:#4BA4F2;
}

.e {
  font-size: 50px;
  color:#6BD9F2;
}

.f {
  font-size: 50px;
  color:#EEF0F2;
}
