.rock {
  width: 25vh;
  position: relative;
  bottom: -30vh;
  transition: transform 0.2s ease-in-out;
  animation: shaking 5s infinite;
}

@keyframes shaking {
  0% {
    left: 10px;
  }
  10% {
    left: -10px;
  }
  20% {
    left: 10px;
  }
  30% {
    left: -10px;
  }
  40% {
    left: 10px;
  }
  50% {
    left: -10px;
  }
  60% {
    left: 0px;
  }
  100% {
    left: 10px;
  }
}

body {
  background-color: #000000;
  transition: background-color 0.5s ease-in-out;
}

body.fade-background {
  animation: fadeBackground 1s forwards;
}

body.night {
  animation: switchNight 1s forwards;
}

body.morning {
  animation: switchMorning 1s forwards;
}

footer {
  opacity: 0;
  padding: 20px;
  padding: 10px;
  display: flex;
}

footer.opacity {
  animation: opacityChange 1s forwards;
}

.star {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: #fff;
  animation: twinkling 2s infinite;
}

@keyframes twinkling {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes delayedTwinkling {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeBackground {
  0% {
    background-color: #000000;
  }
  35% {
    background-color: #000000;
  }
  100% {
    background: linear-gradient(to bottom right, #16042f, #04062c, #050d29, #061433, #062233)
  }
}

@keyframes opacityChange {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes switchMorning {
  0% {
    background: linear-gradient(to bottom right, #1b0738, #070a36, #050d29, #061433, #062233);
  }
  40% {
    background: linear-gradient(to bottom right, #1b0738, #070a36, #050d29, #061433, #062233);
    opacity: 1;
  }
  50% {
    background: white;
    opacity: 0.1;
  }
  60% {
    background: linear-gradient(to top, #e18957, #b24342, #47354b, #151945, #09071a);
    opacity: 1;
  }
  100% {
    background: linear-gradient(to top, #e18957, #b24342, #47354b, #151945, #09071a);
  }
}

@keyframes switchNight {
  0% {
    background: linear-gradient(to top, #e18957, #b24342, #47354b, #151945, #09071a);
  }
  40% {
    background: linear-gradient(to top, #e18957, #b24342, #47354b, #151945, #09071a);
    opacity: 1;
  }
  50% {
    background: white;
    opacity: 0.1;
  }
  60% {
    background: linear-gradient(to bottom right, #1b0738, #070a36, #050d29, #061433, #062233);
    opacity: 1;
  }
  100% {
    background: linear-gradient(to bottom right, #1b0738, #070a36, #050d29, #061433, #062233);
  }
}

/*/////////////////////////////////////////////*/
/*/////////////////////////////////////////////*/
/*/////////////////////////////////////////////*/

.navBar {
  z-index: 1;
  opacity: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0px;
  padding: 15px;
}

.navBar.opacity {
  animation: opacityChange 1s forwards;
}

.navTitle {
  color:#D8AE8E;
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(35, 34, 34);
  border-color: #D8AE8E;
  padding: 10px;
}

.navTitle:hover {
  transform: translateY(-0.1vh);
  color:rgb(35, 34, 34);
  background-color: #D8AE8E;

}

/*/////////////////////////////////////////////*/
/*/////////////////////////////////////////////*/
/*/////////////////////////////////////////////*/

.containers {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

#containersId {
  opacity: 0;
}

#containersId.opacity {
  animation: opacityChange 1s forwards;
}

.magicTitle {
  font-size: 8vh;
  color: #361e13;
  background-size: auto;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #646AD7, #6387F2, #4BA4F2, #6BD9F2);
  text-shadow: 2px 2px;
  animation-delay: 5s;
  animation: twinkling 5s infinite;
}

.magic {
  font-size: 5vh;
  color: #361e13;
  background-size: auto;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #646AD7, #6387F2, #4BA4F2, #6BD9F2);
  text-shadow: 2px 2px;
  animation: twinkling 5s infinite;
}

.riddle {
  background: url("files/nightCube.png");
  height: fit-content;
  text-align: center;
  background-attachment: fixed;
  border-radius: 25px;
  border-style: solid;
  border-color: #6575A6;
  border-width: 1px;
  margin: 10vh 25vw;
}

.about {
  background-color: white;
  height: fit-content;
  text-align: center;
  background-attachment: fixed;
  border-radius: 25px;
  border-style: solid;
  border-color: #6575A6;
  border-width: 1px;
}

p {
  font-size: 3vh;
  color: #361e13;
}

/*/////////////////////////////////////////////*/
/*/////////////////////////////////////////////*/
/*/////////////////////////////////////////////*/

.circle {
  z-index: 1;
  opacity: 0;
  width: 40vh;
  height: 40vh;
  background: linear-gradient(260deg, #333333, #2C3539, #424242, #555555);
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: #d9c28b;
  position: fixed;
  bottom: 0vh;
  left: -242px;
  transition: left 0.5s ease-out;
  display:flex;
  align-items:center;
  justify-content: center;
}

.circle.opacity {
  animation: opacityChange 1s forwards;
}

.circle.hidden {
  left: -140px;
}

.innerCircle {
  width: 30vh;
  height: 30vh;
  background: linear-gradient(to top left, #8c64d7, #7b57fe, #5d49f5, #4957f5, #4977f5, #49b6f5);
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: #d9c28b;
  transition: left 0.5s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.timeStamp {
  color: #d9c28b;
  font-size: 4vh;
  position: absolute;
  text-align: center;
}

.timeStamp:nth-child(1) {transform: translate(-1vh, -17.75vh) rotate(0deg);}
.timeStamp:nth-child(2) {transform: translate(9vh, -15.25vh) rotate(30deg);}
.timeStamp:nth-child(3) {transform: translate(15.5vh, -8.75vh) rotate(60deg);}
.timeStamp:nth-child(4) {transform: translate(17.75vh, 0vh) rotate(90deg);}
.timeStamp:nth-child(5) {transform: translate(15.5vh, 8.75vh) rotate(120deg);}
.timeStamp:nth-child(6) {transform: translate(9vh, 15.25vh) rotate(150deg);}
.timeStamp:nth-child(7) {transform: translate(-0.75vh, 17.75vh) rotate(180deg);}

.arrow {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid #db3434;
  position: relative;
  transition: transform 0.5s ease-in-out;
  transform: translate(8vh, -8vh) rotate(45deg);
}

.arrow.morning {
  transform: translate(8vh, 8vh) rotate(135deg);
}

/*/////////////////////////////////////////////*/
/*/////////////////////////////////////////////*/
/*/////////////////////////////////////////////*/